Stopwatch {
    layout: horizontal;
    background: $boost;
    height: 5;
    margin: 1;
    min-width: 50;
    padding: 1;
}

TimeDisplay {
    content-align: center middle;
    text-opacity: 60%;
    height: 3;
}

Button {
    width: 16;
}

#start {
    dock: left;
}

#stop {
    dock: left;
    display: none;
}

#reset {
    dock: right;
}

Screen {
    background: $surface-darken-1;
}

#tree-view {
    scrollbar-gutter: stable;
    overflow: auto;    
    width: auto;    
    height: 100%;            
    dock: left;       
}

CodeBrowser.-show-tree #tree-view {
    display: block;        
    max-width: 50%;
}


#code-view {
    overflow: auto scroll;  
    min-width: 100%;        
}

#code {
    width: auto;    
}

#aaaa {
    dock: left;
    min-width: 100%;
}
